<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Stickman Street Fighter </title>
</head>
<body>
    <h2 style="justify-content: center;text-align: center;">Stickman Street Fighter</h2>
<div class="container center my-5" style="justify-content: center;padding-left: 150px;">
    <iframe src="http://flash.7k7k.com/cms/cms10/20220825/1012297821/5/5.htm" width="800" height="600" frameborder="0"></iframe>

</div>
    
    
</body>
</html>